.git
.github
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
# Keep .env.example as it's needed for the Dockerfile
#.env.example
.phpunit.result.cache
phpunit.xml
README.md
DEPLOYMENT.md
deployment-guide.md
FLY-IO-DEPLOY.md
public/storage/
